data
saved_models_optuna
.venv
__pycache__
gkanconv-ode*
notebooks
old_experiments
.vscode
symb_fitting.py
hall_of_fame*
pysr
optuna_study.db
requirements.txt
optuna_journal_storage.log
data_*
README.md
outputs
data_noise
data_input_noise
post_processing.ipynb
data_ic5*
data_ic1*
data_ic10*
data_ic5_gkan
data_ic10_deriv
