data
saved_models_optuna
.venv
__pycache__
saved_models
gkanconv-ode*
notebooks
old_experiments
.vscode
symb_fitting.py
hall_of_fame*
pysr
optuna_study.db
requirements.txt
optuna_journal_storage.log
data
README.md
outputs
data_noise
data_input_noise
post_processing.ipynb
data_ic5
data_ic1
