data
saved_models_optuna
.venv
__pycache__
gkanconv-ode*
notebooks
old_experiments
.vscode
symb_fitting.py
hall_of_fame*
pysr
optuna_study.db
requirements.txt
optuna_journal_storage.log
README.md
outputs
test_kan.ipynb
plots.ipynb

